:root {
  --header-height: 3rem;

  --first-color: #5B65F5;
  --first-color-light: #C4C7F5;
  --dark-color: #0E1026;
  --white-color: #FBFBFB;

  --body-font: 'Open Sans', sans-serif;
  --nav-name-font-size: 1.5rem;
  --normal-font-size: .938rem;

  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --nav-name-font-size: 1rem;
    --normal-font-size: 1rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  height: 100vh;
  width: 100%;
  font-weight: 600;
  background-position: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 1rem;
  background-color: #FFFFFF;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.header-logo {
  color: var(--dark-color);
}

.header-toggle {
  font-size: 1.7rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: var(--z-fixed);
    transition: .5s;
    overflow-y: auto;
  }

  .show {
    left: 0;
  }
}

.nav-content {
  display: flex;
  flex-direction: column;
}

.nav-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.nav-img {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 90px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.nav-img img {
  width: 70px;
}

.nav-name {
  display: block;
  font-size: var(--nav-name-font-size);
  color: var(--white-color);
}

.nav-item {
  margin-bottom: 2rem;
}

.nav-link {
  color: var(--first-color-light);
}

.nav-link:hover {
  color: var(--white-color);
}

.active {
  color: var(--white-color);
}

.dropdown-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-icon {
  font-size: 1.3rem;
  transition: .5s;
}

.dropdown:hover .dropdown-icon {
  transform: rotate(180deg);
}

.dropdown-menu {
  margin: 1rem 0 0 1rem;
  display: none;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-item {
  margin: 1rem 0;
}

@media screen and (min-width: 576px) {
  .nav {
    width: 288px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .header {
    height: calc(var(--header-height) + 1rem);
  }

  .header-logo,
  .header-toggle {
    display: none;
  }

  .nav {
    width: 100%;
  }

  .nav-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-perfil {
    flex-direction: row;
    text-align: initial;
    margin-bottom: 0;
  }

  .nav-img {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
    margin-bottom: 0;
  }

  .nav-img img {
    width: 46px;
  }

  .nav-name {
    color: var(--dark-color);
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-item {
    margin: 0 1.5rem;
    padding: 1.4rem 0;
  }

  .nav-link {
    color: var(--dark-color);
  }

  .nav-link:hover {
    color: var(--first-color);
  }

  .active {
    color: var(--first-color);
  }

  .dropdown {
    position: relative;
  }

  .dropdown-menu {
    position: fixed;
    margin: 0;
    top: calc(var(--header-height) + 1rem);
    padding: 0.5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    border-radius: .5rem;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}


body {
  margin: 0;
  padding: 0;
  background-color: #fff8e7;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}



.main-heading {
  font-size: 2rem;
  color: #333;
  margin-top: 100px;
  margin-bottom: 20px;
}

.converter-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 900px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

.controls {
  margin-bottom: 20px;
}

select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin: 0 10px;
}

.textareas {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  resize: none;
}

button {
  padding: 12px 30px;
  background-color: #1e00ff;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0faabf;
}